data/1_million_playlists/
data/md5sums
data/src
data/genres_v2.csv
data/md5sums
data/README.md
data/spotify_data.csv
data/spotify_dataset.csv
data/stats.txt
data/tracks_feastures.csv
data/tracks.csv
data/SpotifyFeatures.csv


